* {
    padding: 0;
    margin: 0;
}

html {
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

}

h3 {
    top: 20px;
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#inpAge {
    top: 3cm;
    position: absolute;
    left: 40%;
    width: 3cm;
    font-size: 25px;

}

#inpHei {
    position: absolute;
    /* height: 50px; */
    font-size: 25px;
    top: 5cm;
    left: 40%;
    width: 4cm;
}

.age {
    top: 2.5cm;
    position: absolute;
    left: 40%;
}



.dropdown {
    top: 3cm;
    position: absolute;
    left: 50%;
    font-size: 20px;
    border: 2px solid black;
    padding: 5px 5px 5px;
    cursor: pointer;
}


button {
    font-size: 20px;
    padding: 3px 3px 3px;
    position: absolute;
    top: 7cm;
    left: 47%;
}

#ans {
    font-size: 55px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    font-weight: bolder;
    position: relative;
    top: 1cm;
}